# Navidrome
ND_IMAGE_TAG=latest
ND_PORT=4533
ND_SCANSCHEDULE=1h
ND_LOGLEVEL=info
ND_SESSIONTIMEOUT=24h
ND_BASEURL=
ND_DATA_FOLDER=./data/navidrome
ND_MUSIC_FOLDER=./data/music

# ListenBrainz
LB_DATA_FOLDER=./data/listenbrainz
